@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.previewFalse {
  display: none;
}

/*media query */
@media only screen and (max-width: 600px) {
  .previewFalse {
    display: block;
  }
}
